<!DOCTYPE html>
<html>
<head>
    <title>Beat | Dancing Competition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slideshow.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slidenav.min.css">
     


    <!-- <link rel="stylesheet" type="text/css" href="/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="/css/slidenav.css"> -->


    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/muikit.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="main user-dashboard-main">
        <div class="container">
            <h1>ES MOMENTO DE VOTAR</h1>
            <div class="filters-container">
                <input type="text" name="search" placeholder="Buscar Video">
                <button>Filtros</button>
                <button class="float right" style="background-color: #399931; border-radius: 20px; padding-left: 20px; padding-right: 20px;">Participantes</button>
            </div>
            <%
                teams.forEach(function(team){%><div class="videos-container">
                        <div class="inner-container">
                            <div class="video">
                                <video controls>
                                  <source src="/uploads/<%=team.videoLink%>" type="video/mp4">
                                  <source src="/uploads/<%=team.videoLink%>" type="video/webm">
                                  <source src="/uploads/<%=team.videoLink%>" type="video/ogg">
                                  Your browser does not support the video tag.
                                </video>
                                <div class="like">
                                    <span><i class="fa fa-thumbs-up"></i> 20</span>
                                </div>
                            </div>
                            <div class="below-video">
                                <ul class="team-details">
                                    <li><%=team.teamName%></li>
                                    <li><%=team.city%>/<%=team.state%></li>
                                </ul>
                                <button class="voting-button"><i class="fa fa-facebook"></i> VOTAR</button>
                                <div class="clearboth"></div>
                            </div>
                        </div>
                    </div><%})%>
            
                
        </div>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
    <!-- <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/uikit.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script> -->
    <script type="text/javascript" src="/js/main.js"></script>
    <!-- <script type="text/javascript" src="/js/slideshow.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/slideshow.js"></script>
</body>
</html>