<!DOCTYPE html>
<html>
<head>
    <title>Beat | Dancing Competition</title>
    <% include includes/header.ejs %>

</head>
<body>
    <div class="main user-dashboard-main">
        <div class="container">
            <div class="main-user-dashboard">
                <h1>¡BIENVENIDO <%=user.teamName%>!</h1>
                <div class="main-video-header">
                    <div class="likes"></div>
                    <a href="/logout">
                        <button class="uk-button uk-button-danger">Cerrar sesión</button>
                    </a>
                    <div class="clearboth"></div>
                </div>
                <div class="main-video-container">
                    <video
                      id="demo-player"
                      controls
                      autoplay
                      class="cld-video-player"
                      data-cld-public-id="<%=user.public_id%>">
                    </video>
                </div>
                <div class="team-details">
                    <div class="team-name-city">
                        <p><%=user.teamName%></p>
                        <p><%=user.city%>/<%=user.state%></p>
                    </div>
                    <div class="team-members">
                        <ul>
                            <li>
                                <%
                                    var repName = JSON.parse(user.representativeName)
                                %>
                                <%=repName.firstName%> <%=repName.lastName%>
                            </li>
                            <% var members = JSON.parse(user.teamMembers);
                                members.forEach(function(member){ %>
                                <li><%=member.firstName%> <%=member.lastName%></li>
                            <%
                                })
                            %>
                        </ul>
                    </div>
                    <div class="status-of-participation">
                        <table>
                            <tr>
                                <td>
                                    <p>STATUS DE PARTICIPACIÓN:</p>
                                </td>
                                <td>
                                    <button class="uk-button <%=user.status%>" style="cursor:initial">
                                    <%
                                    if(user.status=="Accepted"){
                                    %>
                                        Aprobado
                                    <%
                                    }
                                    %>
                                    <%
                                    else if(user.status=="Declined"){
                                    %>
                                        No aprobado
                                    <%
                                    }
                                    %>
                                    <%
                                    else if(user.status=="En evaluación"){
                                    %>
                                        En evaluación
                                    <%
                                    }
                                    %> 
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>COMENTARIOS DEL COMITÉ:</td>
                                <td><%=user.statusText%></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="dicover-videos-button">
                    <!-- <a href="/team">
                        <button class="uk-button uk-button-primary">Descubre los videos</button>
                    </a> -->
                </div>
                
            </div>

        </div>
    </div>
    <% include includes/scripts.ejs %>
    <script type="text/javascript">
        var cld = cloudinary.Cloudinary.new({ cloud_name: "annaraujo", secure: true});
        var demoplayer = cld.videoPlayer('demo-player');
    </script>
</body>
</html>
